//
//  Base.xcconfig
//
//  Created by Patrick Piemonte on 3/26/13.
//

PRODUCT_NAME = Vision
WRAPPER_EXTENSION = app

ARCHS[sdk=iphoneos*] = $(ARCHS_STANDARD_INCLUDING_64_BIT)
IPHONEOS_DEPLOYMENT_TARGET = 6.0

SKIP_INSTALL = NO

DEAD_CODE_STRIPPING = YES;

OTHER_CFLAGS = -fconstant-cfstrings
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

INFOPLIST_FILE = Vision/Vision-Info.plist

GCC_PREFIX_HEADER = Vision/Vision-Prefix.pch
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_C_LANGUAGE_STANDARD = c99
GCC_VERSION = com.apple.compilers.llvm.clang.1_0

CLANG_ENABLE_OBJC_ARC = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES

GCC_ENABLE_OBJC_EXCEPTIONS = NO
