//
//  Debug.xcconfig
//
//  Created by Patrick Piemonte on 3/26/13.
//

#include "Base.xcconfig"

GCC_OPTIMIZATION_LEVEL = 0
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES[sdk=iphone*] = YES
GCC_WARN_SHADOW[sdk=iphone*] = YES
GCC_PREPROCESSOR_DEFINITIONS = $(INHERITED) DEBUG=1
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_UNDECLARED_SELECTOR = YES;
GCC_WARN_UNINITIALIZED_AUTOS = YES;
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS[sdk=iphone*]=YES

ALWAYS_SEARCH_USER_PATHS = NO
COPY_PHASE_STRIP = NO
ONLY_ACTIVE_ARCH = YES

OTHER_CFLAGS[sdk=iphone*] = $(OTHER_CFLAGS) -Wall -Wconversion -Wundeclared-selector -Wobjc-autosynthesis-property-ivar-name-match
